<a href="https://colab.research.google.com/github/dinky-coder/dinky-coder/blob/main/WorkingWithFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello") # task 1

hello

In [4]:
for i in range(5): # task 2
  print("hello")

hello
hello
hello
hello
hello

In [5]:
# function definition
def fun():
  print("hello")

In [6]:
fun() # function call

hello

In [7]:
fun()
fun()
fun()

hello
hello
hello

In [8]:
for i in range(5):
  fun()

hello
hello
hello
hello
hello

In [9]:
def fun1():
  for i in range(1,10):
    print("hello")

In [10]:
fun1()

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# types of function - default functions print(), input(), len()
# user defined functions

In [15]:
# local and global value
b = 4
def func():
  a=2     # local value
  print(a)

In [16]:
func()

2

In [17]:
def func():
  print("hello")

fun() #hello

def fun():
  print("hey")

fun() #hey

hello
hey

In [18]:
fun()

hey

In [26]:
# parameters in a function
def fun(name, age):
  print(f"Hello {name} your age is: {age}")

In [27]:
fun("Dhawal",25)

Hello Dhawal your age is: 25

In [28]:
# return statement
def add(a,b):
  return a+b

In [29]:
add(34,5)

39

In [33]:
def opr(x,y):
  return x+y, x-y, x*y, x/y, x%y

In [34]:
opr(30,6)

(36, 24, 180, 5.0, 0)

In [38]:
# default value
def fun(name="Dhawal"):
  print(name)

In [39]:
fun()

Dhawal

In [40]:
# positional arguments
def student(name,age):
  print(f"{name} is {age} years old")

In [41]:
student("gfg",30)

gfg is 30 years old

In [42]:
student(30,"gfg")

30 is gfg years old

In [43]:
student(age=30,name="gfg")   # key word argument

gfg is 30 years old

In [11]:
# write a function to print the maximum of the 3 numbers taken from users
# a = int(input("enter first number: "))
# b = int(input("enter second number: "))
# c = int(input("enter third number: "))
def max_num(a,b,c):
  if a>=b and a>=c:
    print(a)
  elif b>=a and b>=c:
    print(b)
  else:
    print(c)

max_num(10,2,32)

32

In [12]:
def max_num():
  a = int(input("enter first number: "))
  b = int(input("enter second number: "))
  c = int(input("enter third number: "))
  return max(a,b,c)

In [13]:
max_num()

enter first number: 10
enter second number: 23
enter third number: 2

23

In [19]:
# write a function to check if a number is even or odd
def even_odd():
  num = int(input("enter a number: "))
  if num%2==0:
    print("even")
  else:
    print("odd")

even_odd()

enter a number: 11
odd

In [23]:
# print a multiplication table of a number
def mul_table():
  num = int(input("enter a number: "))
  for i in range (1,11):
    print(f"{num} * {i} = {num * i}")

mul_table()

enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [24]:
# write a function to find area of a circle
def area_circle():
  r = int(input("enter radius:"))
  return 3.14*r*r

area = area_circle()
print(area)

enter radius:3
28.259999999999998

In [26]:
# write a function to print the length of a string
def len_str():
  str_input = input("enter a string:")
  return len(str_input)

# Call the function to get the length
string_length = len_str()
print(string_length)

enter a string:twelve
6

In [29]:
# check for a prime number given by user
def prime_num():
  num = int(input("enter a number: "))
  for i in range(2,num):
    if num%i==0:
      print("not prime")
      break
  else:
    print("prime")

prime_num()

enter a number: 4
not prime

In [34]:
# convert a temperature from celsius to fahrenheit

def celsius_to_fahrenheit(celsius):
  """Converts Celsius to Fahrenheit."""
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

celsius_temp = int(input("enter temperature in celsius: "))
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp} degrees Celsius is equal to {fahrenheit_temp} degrees Fahrenheit.")

enter temperature in celsius: 12
12 degrees Celsius is equal to 53.6 degrees Fahrenheit.

In [39]:
# check if a given year is a leap year or not from user input
def leap_year():
  year = int(input("enter a year: "))
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
  else:
    print(f"{year} is not a leap year")

leap_year()

enter a year: 400
400 is a leap year